<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Privacy Workshop</display-name>

    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>nl.hu.bscs.privacygame.view.StartServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>nl.hu.bscs.privacygame.view.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Question1Servlet</servlet-name>
        <servlet-class>nl.hu.bscs.privacygame.view.Question1Servlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Question2Servlet</servlet-name>
        <servlet-class>nl.hu.bscs.privacygame.view.Question2Servlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Question3Servlet</servlet-name>
        <servlet-class>nl.hu.bscs.privacygame.view.Question3Servlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Question4Servlet</servlet-name>
        <servlet-class>nl.hu.bscs.privacygame.view.Question4Servlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Question5Servlet</servlet-name>
        <servlet-class>nl.hu.bscs.privacygame.view.Question5Servlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Question6Servlet</servlet-name>
        <servlet-class>nl.hu.bscs.privacygame.view.Question6Servlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>nl.hu.bscs.privacygame.view.AdminServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>nl.hu.bscs.privacygame.view.LogoutServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>ResetServlet</servlet-name>
        <servlet-class>nl.hu.bscs.privacygame.view.ResetServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Question1Servlet</servlet-name>
        <url-pattern>/question1</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Question2Servlet</servlet-name>
        <url-pattern>/question2</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Question3Servlet</servlet-name>
        <url-pattern>/question3</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Question4Servlet</servlet-name>
        <url-pattern>/question4</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Question5Servlet</servlet-name>
        <url-pattern>/question5</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Question6Servlet</servlet-name>
        <url-pattern>/question6</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ResetServlet</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
</web-app>
